html{
	background-color:rgb(135, 206, 235);
}
body{
	background-color:skyblue;
}
.a{
	background-color:black;
	color:white;
}
.b{
	color:red;
}
li:first-child{
	background-color:white;
}
li:nth-child(2){
	background-color:stalegray;
}
li:nth-child(3){
	background-color:pink;
}
li:nth-child(4){
	background-color:stalegray;
}
li:nth-child(5){
	background-color:white;
}